*{
    margin:0;
    padding:0;
}

/* HORIZONTAL SCROLLING */

body{
    font-family:'oswald';
}
.slide{
    width: 100vw;
    height: 100vh;
}

.inner-wrap{
    display:flex;
    flex-direction:row;
    width:400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin:top left;
}
.home{
}
.two{
    background:red;
}
.three{
    background:blue;
}
.four{
    background:violet;
}

.outer-wrap{
    width:88.5vh;
    height:100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y:scroll;
    overflow-x:hidden;
    position:absolute;
    scroll-behavior:smooth;
}
::-webkit-scrollbar{
    display:none;
}

nav img{
    width:2.5rem;
}
nav{
    position:fixed;
    width:100%;
    background:#1a1a1d;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}
.nav-ul{
    display:flex;
    flex-direction:row;
    list-style: none;
    align-items:center;
    justify-content:flex-end;
    margin: 1.2em 0px;
}
li{
    list-style: none;
    margin:0 20px;
}
.logo{
    align-self:center;
    justify-self:flex-end;
    margin-inline:1em auto;
    width:4em;
}
nav a{
    padding:.35em;
    text-decoration:none;
    color:white;
    font-weight:700;
    font-size:1.4rem;
    transition:all 0.8s ease;
}
.github,.linkedin{
    filter: 
    invert(12%) 
    sepia(93%) 
    saturate(5761%) 
    hue-rotate(336deg) 
    brightness(77%) 
    contrast(98%);
    transition:all 0.4s ease-in;
    cursor:pointer;
}
.github:hover,.linkedin:hover{
    filter: 
    invert(98%) 
    sepia(75%) 
    saturate(1%) 
    hue-rotate(172deg) 
    brightness(114%) 
    contrast(100%);
}
.github:hover{
    transform: rotate(360deg) scale(1.15)
}
.linkedin:hover{
    transform:scale(1.15);
}
.active{
    border-bottom:2px solid #950740;
    border-radius:6px;
}
.home{
    display:flex;
    align-items:center;
    justify-content:center;
    background:black;
}
.home h1{
    color:white
}