#About{
    display: grid;
    place-content: center;
    place-items: center;
    margin-block: 40px;
    grid-template-areas:"a a"
                        "b c";
}
#About>h1{
    grid-area: a;
    text-align: center;
    margin-bottom: 30px;
}
#About>p{
    grid-area: b;
    font-size: 18px;
    padding: 25px;
    padding-top: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: white;
    border-right: 1px solid lightgrey;
    height: 100%;
}

.technology-div{
    grid-area: c;
    background: white;
    padding: 25px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}

.technology-div img{
    width: 60px;
}

.technology-div>ul{
    margin-top: 40px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 0;
}