.nav-bar{
    position: sticky;
    top: 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
    padding: 20px 60px;
    width: 100%;
    transition: all .45s ease;
}
.nav-bar.scrolled{
    border-bottom: 1px solid black;
    background-color:white; 
}
.nav-bar>div, .nav-modal>div{
    display: flex;
   gap: 15px; 
   justify-content: center;
   align-items: center;
}

.nav-modal {
    width: 100vw;
    height: 100vh;
    padding: 2em;
    border-radius: 7px;
    position: sticky;
    top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding-top: 70px;
    gap: 25px;
}

.modal {
    z-index: 100;
    position: absolute;
}

.overlay {
    background-color: grey;
    opacity: .4;
    position: absolute;
    height: 100vh;
}

.nav-button {
    border: none;
    font-size: 20px;
    color: black;
    font-weight: 600;
    transition: all .2s ease;
    cursor: pointer;
}

.hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid grey;
    justify-content: center;
}

.nav-button:hover {
    color: purple;
}

.nav-logo {
    width: 33px;
    height: 33px;
}

.logo-link {
    cursor: pointer;
    transition: all .1s ease-in;
}

.logo-link:hover {
    transform: scale(1.1);
}

.adjusted-resume-logo {
    width: 37px;
    height: 37px;
}

@media(max-width: 768px) {
    .internal-link-container {
        flex-direction: column;
    }
}