#Projects {
    display: flex;
    align-items: center;
    width: 100%;
    align-self: center;
    flex-direction: column;
    gap: 50px;
    margin-block: 30px;
}

#Projects::before {
    margin-block: 35px;
    content: "";
    display: block;
    border: 1px solid black;
    width: 100%;
}

.project-outer {
    background: white;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    place-content: center;
    padding: 30px 30px;
    padding-bottom: 10px;
    gap: 20px;
}

.text-content>h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.text-content>p {
    padding-top: 10px;
    font-size: 17px;
    white-space: pre-line;
    height: 100%;
}

.text-content {
    display: grid;
    grid-template-rows: 15% 20% 55% 10%;
    align-items: center;
    margin-left: 15px;
}

.project-img {
    width: 100%;
    border-right: 1px solid lightgray;
    padding-right: 20px;
    cursor: pointer;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 5px;
    margin-bottom: 10px;
}

.technologies>li {
    font-size: 14px;
    background: linear-gradient(to top right, rgb(54, 54, 54) 80%, lightgrey);
    border: 1px solid black;
    color: white;
    padding: 3px 10px;
    text-align: center;
    line-height: 1.6;
    cursor: default;
    font-weight: bold;
}

.project-link {
    background: white;
    border: 1px solid purple;
    color: purple;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    transition: .25s;
    margin-top: 10px;
}

.project-link:hover {
    color: white;
    background: purple;
}

.project-link-container {
    display: flex;
    padding-bottom: 10px;
    align-items: end;
}

@media(max-width:768px) {
    .project-outer {
        grid-template-columns: 1fr;
        gap: 5px;
        place-content: start;
    }
    .project-img {
        max-width: auto;
        width: 100%;
        max-height: 100%;
        height: auto;
        border-right: none;
        padding-right: 0;
    }
    .text-content>p{
        font-size: 14px;
        grid-template-rows: 15% 40% 55% 10%;
    }
    .text-content>h1{
        font-size: 25px;
    }
    .technologies>li{
        font-size: 13px;
    }
    .text-content{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .project-link{
        font-size: 13px;
    }
}

